.form { 
    background-color: #F4F7FC;
}

body {
    background-color: #F4F7FC;
}


@media only screen and (max-width: 600px){
    .ant-card {
        width: 100%!important;
        margin-top: 0!important;
    }
}