.button {
    border-radius: 4px;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.primary :first-child {
    margin-right: 10px;
}


.primary:hover {
    background-color: #0052DB;
}

.primary {
  background-color: #0a65ff;
  color: #ffffff;
}

svg {
    fill: #ffffff;
}
 
.primary svg path{
    fill: white;
}

.secundary {
    background-color: #F4F7FC;

}

button svg path {
    fill: #0a65ff;
}